@font-face {
  font-family: 'Poppins-Thin';
  src: url('Poppins-Thin.eot');
  src: url('Poppins-Thin.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Thin.svg#Poppins-Thin') format('svg'),
       url('Poppins-Thin.ttf') format('truetype'),
       url('Poppins-Thin.woff') format('woff'),
       url('Poppins-Thin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-ThinItalic';
  src: url('Poppins-ThinItalic.eot');
  src: url('Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-ThinItalic.svg#Poppins-ThinItalic') format('svg'),
       url('Poppins-ThinItalic.ttf') format('truetype'),
       url('Poppins-ThinItalic.woff') format('woff'),
       url('Poppins-ThinItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBoldItalic';
  src: url('Poppins-SemiBoldItalic.eot');
  src: url('Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-SemiBoldItalic.svg#Poppins-SemiBoldItalic') format('svg'),
       url('Poppins-SemiBoldItalic.ttf') format('truetype'),
       url('Poppins-SemiBoldItalic.woff') format('woff'),
       url('Poppins-SemiBoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('Poppins-SemiBold.eot');
  src: url('Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
       url('Poppins-SemiBold.svg#Poppins-SemiBold') format('svg'),
       url('Poppins-SemiBold.ttf') format('truetype'),
       url('Poppins-SemiBold.woff') format('woff'),
       url('Poppins-SemiBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('Poppins-Regular.eot');
  src: url('Poppins-Regular.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Regular.svg#Poppins-Regular') format('svg'),
       url('Poppins-Regular.ttf') format('truetype'),
       url('Poppins-Regular.woff') format('woff'),
       url('Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-MediumItalic';
  src: url('Poppins-MediumItalic.eot');
  src: url('Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-MediumItalic.svg#Poppins-MediumItalic') format('svg'),
       url('Poppins-MediumItalic.ttf') format('truetype'),
       url('Poppins-MediumItalic.woff') format('woff'),
       url('Poppins-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('Poppins-Medium.eot');
  src: url('Poppins-Medium.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Medium.svg#Poppins-Medium') format('svg'),
       url('Poppins-Medium.ttf') format('truetype'),
       url('Poppins-Medium.woff') format('woff'),
       url('Poppins-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-LightItalic';
  src: url('Poppins-LightItalic.eot');
  src: url('Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-LightItalic.svg#Poppins-LightItalic') format('svg'),
       url('Poppins-LightItalic.ttf') format('truetype'),
       url('Poppins-LightItalic.woff') format('woff'),
       url('Poppins-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('Poppins-Light.eot');
  src: url('Poppins-Light.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Light.svg#Poppins-Light') format('svg'),
       url('Poppins-Light.ttf') format('truetype'),
       url('Poppins-Light.woff') format('woff'),
       url('Poppins-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Italic';
  src: url('Poppins-Italic.eot');
  src: url('Poppins-Italic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Italic.svg#Poppins-Italic') format('svg'),
       url('Poppins-Italic.ttf') format('truetype'),
       url('Poppins-Italic.woff') format('woff'),
       url('Poppins-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraLightItalic';
  src: url('Poppins-ExtraLightItalic.eot');
  src: url('Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-ExtraLightItalic.svg#Poppins-ExtraLightItalic') format('svg'),
       url('Poppins-ExtraLightItalic.ttf') format('truetype'),
       url('Poppins-ExtraLightItalic.woff') format('woff'),
       url('Poppins-ExtraLightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url('Poppins-ExtraLight.eot');
  src: url('Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
       url('Poppins-ExtraLight.svg#Poppins-ExtraLight') format('svg'),
       url('Poppins-ExtraLight.ttf') format('truetype'),
       url('Poppins-ExtraLight.woff') format('woff'),
       url('Poppins-ExtraLight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBoldItalic';
  src: url('Poppins-ExtraBoldItalic.eot');
  src: url('Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-ExtraBoldItalic.svg#Poppins-ExtraBoldItalic') format('svg'),
       url('Poppins-ExtraBoldItalic.ttf') format('truetype'),
       url('Poppins-ExtraBoldItalic.woff') format('woff'),
       url('Poppins-ExtraBoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url('Poppins-ExtraBold.eot');
  src: url('Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
       url('Poppins-ExtraBold.svg#Poppins-ExtraBold') format('svg'),
       url('Poppins-ExtraBold.ttf') format('truetype'),
       url('Poppins-ExtraBold.woff') format('woff'),
       url('Poppins-ExtraBold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-BoldItalic';
  src: url('Poppins-BoldItalic.eot');
  src: url('Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-BoldItalic.svg#Poppins-BoldItalic') format('svg'),
       url('Poppins-BoldItalic.ttf') format('truetype'),
       url('Poppins-BoldItalic.woff') format('woff'),
       url('Poppins-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('Poppins-Bold.eot');
  src: url('Poppins-Bold.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Bold.svg#Poppins-Bold') format('svg'),
       url('Poppins-Bold.ttf') format('truetype'),
       url('Poppins-Bold.woff') format('woff'),
       url('Poppins-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-BlackItalic';
  src: url('Poppins-BlackItalic.eot');
  src: url('Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('Poppins-BlackItalic.svg#Poppins-BlackItalic') format('svg'),
       url('Poppins-BlackItalic.ttf') format('truetype'),
       url('Poppins-BlackItalic.woff') format('woff'),
       url('Poppins-BlackItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Black';
  src: url('Poppins-Black.eot');
  src: url('Poppins-Black.eot?#iefix') format('embedded-opentype'),
       url('Poppins-Black.svg#Poppins-Black') format('svg'),
       url('Poppins-Black.ttf') format('truetype'),
       url('Poppins-Black.woff') format('woff'),
       url('Poppins-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

